<p>update-employee works!</p>
<h1>Update Employee</h1>
<div class = "col-md-8 offset md-3">
<form (ngSubmit)  = "onSubmit()"> 
    
    <div class="form-group">
        <label >FirstName</label>
        <input type="text" class="form-control" id="firstName" placeholder="Enter FirstName"
         [(ngModel)] = "employee.firstName" name = "firstName">
      </div>
      <div class="form-group">
        <label >LastName</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter lastName" 
        [(ngModel)] = "employee.lastName" name="lastName" >
       
      </div>
      <div class="form-group">
        <label >Email </label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email"
         [(ngModel)] = "employee.email" name="email">
        </div>  
      <button type="submit" class="btn btn-primary"  >Submit</button>
    
</form>
</div>